<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sun.zhao.guo.mapper.TestInfoMapper">

    <resultMap id="BaseResultMap" type="sun.zhao.guo.model.TestInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="test_time" property="testTime" jdbcType="TIMESTAMP"/>
        <result column="test_enum" property="testEnum" jdbcType="INTEGER"/>
        <result column="test_name" property="testName" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="BIGINT"/>

        <association property="user" javaType="User" column="user_id" select="queryUserByUserId">
            <id column="id" property="id" jdbcType="VARCHAR"/>
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        </association>

        <collection property="tests" column="tests" ofType="java.lang.String"
                    javaType="java.util.ArrayList"
                    typeHandler="sun.zhao.guo.type.handler.TestInfoHandler"/>
    </resultMap>

    <resultMap id="BaseUserMap" type="User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, user_id, test_time, test_enum, test_name, "version", tests
    </sql>


    <select id="queryTestInfoList" parameterType="integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_info
        <where>
            version = #{version}
            <!--<if test="testName != null and testName != ''">
                and test_name like concat(concat('%',#{testName}),'%')
            </if>
            <if test="testTime != null">
                and test_time = #{testTime}
            </if>
            <if test="testEnum != null">
                and test_enum = #{testEnum}
            </if>-->
       </where>
      order by id desc
    </select>

    <select id="queryUserByUserId" parameterType="string" resultMap="BaseUserMap">
        select * from user_info where id = #{user_id}
    </select>

</mapper>